<div class="ml-0 mr-0" style="width:100%;">
    <div class="p-2 header hd-sky" >
      <span >Manage Customers</span>
      
    </div>
  </div>
  
  <!-- <div class="parent-div"> -->
  <div class="row">
    <div class="column">
  
      <div class="pt-2 pl-2 pb-4 section-header hd-cyan" >
        <span>Customers</span>
        <!-- <span class="pl-2"><b>Selected Header:</b> {{rowDataClicked.luh_code}}</span> -->
          
        <div class=" float-left">
            <span class="spinner-border" *ngIf="(isBusy == true)"></span>
          </div>
          <div class=" float-right section-detail">
            <a style="cursor: pointer" (click)="exportexcel()">
              <span class="fa fa-download p-2 pr-4"></span>
            </a>
            <!-- parameter 1 to openStockDialog 
                means its and new record and 2 mean its an update operation -->
              <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="openCustomersDialog('2')">
                <span class="fa fa-pencil p-2 text-warning"></span>
              </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="openCustomersDialog('1')">
              <span class="fa fa-plus text-white p-2"></span>
            </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="deleteCustomer()">
                <span class="fa fa-trash text-danger p-2"></span>
            </a>
             
        </div>
        <div class=" float-right section-detail"> 
          <input type="date" id="dateFrom" name="dateFrom" class="form-control form-control-sm " [(ngModel)] = "dateFrom" >
          
          </div> 
      </div>
      <!-- [enableSorting]="true" [enableFilter]="true"
      [modules]="modules"
          [frameworkComponents]="frameworkComponents"
      -->
      <div [ngStyle]="style">
        <ag-grid-angular  
          [pagination]="true"
          [paginationPageSize]="15"
          [unSortIcon]="true"
          [animateRows]="true"
          style="width: 100%; height:450px;"
          class="ag-theme-alpine" 
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (rowSelected)="onRowSelected($event)">
        </ag-grid-angular>
      </div>
  
    </div>
   
  
   
  </div>
  
  
  
  
  