<div class="m-1 p-0 bg">


  <div class="row mt-2 pt-2 section-header hd-navy">
    <div class="col text-start">
      <span class=" float-left">Cutomer Information & Order Details</span>
    </div>
    <div class=" col text-start">
      <input type="text" id="phoneNo" name="phoneNo" class="form-control form-control-sm " [(ngModel)]="phoneNo"
        (change)="setCustomer()" placeholder="Phone Number">
    </div>


    <div class=" col text-end section-detail">

      <!-- parameter 1 to openStockDialog 
            means its and new record and 2 mean its an update operation -->
      <a type="button" (click)="onSubmit()">
        <span class="fa fa-save fa-2x  ps-4"></span>
      </a>
      <a type="button" (click)="onCancel()">
        <span class="fa fa-close fa-2x  ms-4"></span>
      </a>


    </div>

  </div>


  <div>



    <form [formGroup]="orderForm" class="form-sm m-2" action="#!">

      <!-- row 1 -->
      <div class="row ">



        <div class="col">
          <div class="md-form">
            <label for="customer_uid">Customer
              <a type="button" id="btn_select_customer" (click)="openLov()">
                <span class="fa fa-list ps-2"></span>
              </a>

              <a type="button" (click)="openCustomersDialog(1)">
                <span class="fa fa-plus ps-2 text-success"></span>
              </a>
              <a type="button" (click)="clearCustomer()">
                <span class="fa fa-refresh ps-2 text-danger"></span>
              </a>
            </label>

            <select class="form-select  form-select-sm mr-sm-2 js-example-basic-single" id="customer_uid"
              name="customer_uid" formControlName="customer_uid" (change)="loadCustomerRefunds()"
              [ngClass]="{ 'is-invalid': submitted && fc.customer_uid.errors }">
              <!-- <option Selected value="">Select User Role</option> -->
              <option *ngFor="let data of customerList; index as i;" [value]=data.customer_uid>{{data.name}}
                ({{data.mobile}})
              </option>
              <!-- <option value=data.lud_code>data.lud_desc</option> -->
            </select>

            <div *ngIf="submitted && fc.customer_uid.invalid " class="invalid-feedback">
              <div *ngIf="fc.customer_uid.errors.required">
                Customer is required
              </div>
            </div>
          </div>

        </div>


        <div class="col">
          <!-- Order Date -->
          <div class="md-form ">
            <label for="order_date">Order Date</label>
            <input type="datetime-local" id="order_date" [value]="orderDate" name="order_date"
              class="form-control form-control-sm " formControlName="order_date"
              [ngClass]="{ 'is-invalid':   submitted && fc.order_date.errors }">
            <div *ngIf=" fc.order_date.invalid " class="invalid-feedback">
              <div *ngIf="fc.order_date.errors.required">
                Order date is required
              </div>

            </div>
          </div>
        </div>

        <div class="col col-1">
          <!-- invoice # -->
          <div class="md-form ">
            <label for="invoice_number">Invoice#</label>
            <input type="text" id="invoice_number" name="invoice_number" class="form-control form-control-sm "
              formControlName="invoice_number" [ngClass]="{ 'is-invalid':   submitted && fc.invoice_number.errors }">
            <div *ngIf=" fc.invoice_number.invalid " class="invalid-feedback">
              <div *ngIf="fc.invoice_number.errors.required">
                Invoice# is required
              </div>

            </div>
          </div>
        </div>

        <div class="col col-1">
          <div class="md-form">
            <label for="status">Status</label>
            <select class="form-select  form-select-sm mr-sm-2" id="status" name="status" formControlName="status"
              [ngClass]="{ 'is-invalid': submitted && fc.status.errors }">
              <!-- <option Selected value="">Select User Role</option> -->
              <option *ngFor="let data of orderStatusList; index as i;" [value]=data.lud_code>{{data.lud_desc}}
              </option>
              <!-- <option value=data.lud_code>data.lud_desc</option> -->
            </select>

            <div *ngIf="submitted && fc.status.invalid " class="invalid-feedback">
              <div *ngIf="fc.status.errors.required">
                Status is required
              </div>
            </div>
          </div>

        </div>





        <div class="col col-2">
          <div class="md-form">
            <label for="home_delivery">Home Delivery</label>
            <select class="form-select  form-control-sm mr-sm-2" id="home_delivery" name="home_delivery"
              formControlName="home_delivery" [ngClass]="{ 'is-invalid': submitted && fc.home_delivery.errors }">
              <!-- <option Selected value="">Select User Role</option> -->
              <option *ngFor="let data of yesNoList; index as i;" [value]=data.lud_code>{{data.lud_desc}}</option>
              <!-- <option value=data.lud_code>data.lud_desc</option> -->
            </select>

            <div *ngIf="submitted && fc.home_delivery.invalid " class="invalid-feedback">
              <div *ngIf="fc.home_delivery.errors.required">
                Home Delivery is required
              </div>
            </div>
          </div>

        </div>

        <div class="col col-2">
          <div class="md-form">
            <label for="payment_mode">Payment Mode</label>
            <select class="form-select  form-control-sm mr-sm-2" id="payment_mode" name="payment_mode"
              formControlName="payment_mode" [ngClass]="{ 'is-invalid': submitted && fc.payment_mode.errors }">
              <!-- <option Selected value="">Select User Role</option> -->
              <option *ngFor="let data of paymentTypeList; index as i;" [value]=data.lud_code>{{data.lud_desc}}
              </option>
              <!-- <option value=data.lud_code>data.lud_desc</option> -->
            </select>

            <div *ngIf="submitted && fc.payment_mode.invalid " class="invalid-feedback">
              <div *ngIf="fc.payment_mode.errors.required">
                Payment Mode is required
              </div>
            </div>
          </div>

        </div>
      </div>



      <!-- row 3 -->

      <div class="row" *ngIf="fc.home_delivery.value == 'Y'">

        <div class="col-6">
          <!-- Name -->
          <div class="md-form">
            <label for="delivered_by">Delivered By</label>
            <input type="text" id="delivered_by" name="delivered_by" class="form-control form-control-sm"
              formControlName="delivered_by" [ngClass]="{ 'is-invalid': submitted && fc.delivered_by.errors }">
            <div *ngIf="submitted && fc.delivered_by.invalid " class="invalid-feedback">
              <div *ngIf="fc.delivered_by.errors.required">
                Delivered By is required
              </div>


            </div>
          </div>
        </div>

        <div class="col-6">
          <!-- Name -->
          <div class="md-form">
            <label for="delivered_on">Delivered On</label>
            <input type="datetime-local" id="delivered_on" name="delivered_on" class="form-control form-control-sm"
              formControlName="delivered_on" [ngClass]="{ 'is-invalid': submitted && fc.delivered_on.errors }">
            <div *ngIf="submitted && fc.delivered_on.invalid " class="invalid-feedback">
              <div *ngIf="fc.delivered_on.errors.required">
                Delivered on is required
              </div>


            </div>
          </div>
        </div>

      </div>


      <!-- row 4 -->

      <div class="row" *ngIf="fc.home_delivery.value == 'Y'">

        <div class="col-12">
          <!-- Name -->
          <div class="md-form">
            <label for="home_delivery_address">Address</label>
            <input type="text" id="home_delivery_address" name="home_delivery_address"
              class="form-control form-control-sm" formControlName="home_delivery_address"
              [ngClass]="{ 'is-invalid': submitted && fc.home_delivery_address.errors }">
            <div *ngIf="submitted && fc.home_delivery_address.invalid " class="invalid-feedback">
              <div *ngIf="fc.home_delivery_address.errors.required">
                Address is required
              </div>


            </div>
          </div>
        </div>

      </div>
      <!-- Row 5 -->
      <div class="row" *ngIf="fc.payment_mode.value == '2'">



        <div class="col col-3">
          <!-- Order Date -->
          <div class="md-form ">
            <label for="card_type">Card Type</label>
            <select class="form-select  form-control-sm mr-sm-2" id="card_type" name="card_type"
              formControlName="card_type" [ngClass]="{ 'is-invalid': submitted && fc.card_type.errors }">
              <!-- <option Selected value="">Select User Role</option> -->
              <option *ngFor="let data of cardTypeList; index as i;" [value]=data.lud_code>{{data.lud_desc}}</option>
              <!-- <option value=data.lud_code>data.lud_desc</option> -->
            </select>
            <div *ngIf=" fc.card_type.invalid " class="invalid-feedback">
              <div *ngIf="fc.card_type.errors.required">
                Card Type is required
              </div>

            </div>
          </div>
        </div>

        <div class="col col-3">
          <div class="md-form">
            <label for="card_number">Card Number</label>
            <input type="text" id="card_number" name="card_number" class="form-control form-control-sm"
              formControlName="card_number" [ngClass]="{ 'is-invalid': submitted && fc.card_number.errors }">


            <div *ngIf="submitted && fc.card_number.invalid " class="invalid-feedback">
              <div *ngIf="fc.card_number.errors.required">
                Card Number is required
              </div>
            </div>
          </div>

        </div>

        <div class="col col-6">
          <div class="md-form">
            <label for="card_holder_name">Card Holder Name</label>
            <input type="text" id="card_holder_name" name="card_holder_name" class="form-control form-control-sm"
              formControlName="card_holder_name" [ngClass]="{ 'is-invalid': submitted && fc.card_holder_name.errors }">


            <div *ngIf="submitted && fc.card_holder_name.invalid " class="invalid-feedback">
              <div *ngIf="fc.card_holder_name.errors.required">
                Card Holder Name is required
              </div>
            </div>
          </div>

        </div>


      </div>



    </form>
  </div>

  <div class=" ps-2 pb-2 section-header hd-navy">
    <span>Items</span>
  </div>

  <div class=" m-0 p-0">
    <div class="row bg ">

      <div class="column1 table-responsive">

        <div class="p-2 mb-1 b-1 section-header hd-purple">
          <!-- <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span> -->
          Available Stocks
        </div>
        <!-- Search form -->
        <div class="input-group md-form form-sm form-1 pl-1 pr-1">
          <div class="input-group-prepend">
            <span class="input-group-text cyan lighten-2 bl" id="basic-text1"><i class="fa fa-search"
                aria-hidden="true"></i></span>
          </div>
          <input [(ngModel)]="term" #txtSearch id="txtSearch" class="form-control my-0 py-1" type="text"
            placeholder="Search" aria-label="Search">
        </div>
        <div class="row mt-1 mb-1 ml-1 pr-0 ">
          <div class="column1 pl-0  mr-0 pr-0">
            <input [(ngModel)]="quantity" class="form-control" type="number" placeholder="Qty" aria-label="Search">
          </div>
          <div class="column2 pl-1 pr-0 mr-0">

            <input [(ngModel)]="price" class="form-control mr-0 pr-0" type="number" placeholder="Price"
              aria-label="Search">
          </div>
        </div>
        <table class="table table-striped">
          <thead>
            <tr class="tb-header">
              <!-- <th>Stock#</th> -->
              <th>Item</th>
              <th>...</th>

            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let stock of stockDataListDisplay |filter:term ; let i=index">
              <!-- <td class="col pt-0 pb-0 mt-0 mb-0">{{stock.stock_uid}}</td> -->
              <td class="col pt-0 pb-0 mt-0 mb-0">{{stock.item_name}}</td>

              <td class="pt-0 pb-0 mt-0 mb-0">
                <button type="button" class="btn pt-0 pb-0 mt-0 mb-0" (click)="selectStock(stock.stock_uid)">
                  <i class="fa fa-arrow-right"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <div class="column2 ">
        <div class="row p-2 mb-1 section-header hd-purple">
          <!-- <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span> -->

          <div class="col text-left">
            Added Items
          </div>

          <div class="col text-end ms-2 section-detail"> Total Amount: {{totalAmount}}</div>
          <div class="col text-end ms-2 section-detail"> Vat: {{vat}}</div>
          <div class="col text-end ms-2 section-detail"> Order Amount: {{totalAmount}}</div>
        </div>
        <div class="row p-2 mb-1">
          <div class="col text-start pl-3 section-detail"><b>Order#:</b>{{orderNumber}}</div>
          <div class="col text-end pr-4 section-detail"><b>Dated:</b>{{orderDate}}</div>
        </div>

        <div class="row">

          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th class="col">#</th>
                <th class="col">Item</th>
                <th class="col text-end">Quantity</th>
                <th class="col text-end">Unit Price</th>
                <th class="col text-end">Total Price</th>
                <th class="col">Delete</th>
                <th *ngIf="operation==2" class="col">Refunded Qty</th>
                <th *ngIf="operation==2" class="col">Refunded Amount</th>
                <!-- <th *ngIf = "operation==2" class="col">Refund Qty.</th> -->
                <th *ngIf="operation==2" class="col">Refund</th>
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let selectedstock of selectedDataList; let i = index">
                <tr>

                  <td class="col ">{{i+1}}</td>

                  <td class="col ">{{selectedstock.item_name}}</td>

                  <td class="col text-end">{{selectedstock.quantity}}</td>

                  <td class="col text-end">{{selectedstock.unit_sale_price}}</td>

                  <td class="col text-end">{{selectedstock.total_price}}</td>

                  <td class="col text-center">
                    <button type="button" class="btn p-0 m-0" (click)="deleteStock(i)">
                      <i class="fa fa-trash"></i></button>
                  </td>

                  <td *ngIf="operation==2" class="col text-center">
                    {{selectedstock.refunded_quantity}}
                  </td>

                  <td *ngIf="operation==2" class="col text-center">
                    {{selectedstock.refunded_amount}}
                  </td>

                  <!-- <td *ngIf = "operation==2" class="col text-center">
                
                <input type="number"  
                style="width:50px" >
                
              </td> -->

                  <td *ngIf="operation==2" class="col text-center">
                    <button type="button" class="btn p-0 m-0"
                      (click)="processRefund(selectedstock.order_item_uid, selectedstock.quantity , selectedstock.total_refunded_quantity )">
                      <i class="fa fa-undo"></i></button>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </div>

        <!-- refurnd section -->

        <div class="row mt-3 p-2 mb-1 section-header hd-purple">
          <!-- <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span> -->

          <div class="col text-left">
            Available Refunds ({{customerRefundDataList.length}})
          </div>

          <div class="col text-end ms-2 section-detail"> Total Refund Amount: </div>
          
        </div>
 
        <div class="row">

          <table class="table table-hover table-sm">
            <thead>
              <tr>
                <th class="col">#</th>
                <th class="col">Item</th>
                <th class="col text-end">Quantity</th>
                <th class="col text-end">Total Price</th>
                
              </tr>
            </thead>
            <tbody>
              <ng-container *ngFor="let refundDataList of customerRefundDataList ; let i = index">
                <tr>
        
                  <td class="col ">{{i+1}}</td>
        
                  <td class="col ">{{refundDataList.item_uid}}</td>
        
                  <td class="col text-end">{{refundDataList.quantity}}</td>
        
                  <td class="col text-end">{{refundDataList.total_price}}</td>
        
                 
                  <td *ngIf="operation==2" class="col text-center">
                    <button type="button" class="btn p-0 m-0"
                    >  
                    <i class="fa fa-undo"></i></button>
                  </td>
                </tr>
              </ng-container>
        
            </tbody>
          </table>
        </div>
          

       <!-- refund end  -->
      </div>
    </div>
  </div>
</div>


