<div class="ml-0 mr-0  border-1" style="width:100%; height:400px"
*ngIf="(isEdit == true)">
    <!-- <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span> -->
    <button type="button" class="btn" (click)="cancel()">Cancel</button>
</div>

<div class="ml-0 mr-0  border-1" style="width:100%;">
    <!-- <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span> -->
</div>

<button  type="button" class="btn" (click)="postAllOrders()"><i class="fa fa-disk error"></i>Post Orders</button>
  <!-- <div class="parent-div"> -->
  <div class="row">
    <div class="column1">
  
      <div class="pt-2 pl-2 pb-4" style="color:white; background-color:rgb(30, 133, 146);">
        <span class="h3">Orders</span>
        <!-- <span class="pl-2"><b>Selected Header:</b> {{rowDataClicked.luh_code}}</span> -->
        
        <div class=" h5 float-right">
          <button *ngIf="(userPrivs.editAllowed == 'Y')" type="button" class="btn" (click)="openLuhDialog(1)">
            <i class="fa fa-pencil-alt "></i></button>
  
          <a *ngIf="(userPrivs.createAllowed == 'Y')" type="button" (click)="openLuhDialog(null)">
            <span class="fa fa-plus"></span>
          </a>
          <button *ngIf="(userPrivs.deleteAllowed == 'Y')" type="button" class="btn" (click)="deleteOrder()"><i class="fa fa-trash error"></i></button>
  
  
        </div>
      </div>
      <!-- [enableSorting]="true" [enableFilter]="true"
      [modules]="modules"
          [frameworkComponents]="frameworkComponents"
      -->
      <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span>
      <div [ngStyle]="style" *ngIf="(isBusy == false)">
        <ag-grid-angular  
          [pagination]="true"
          [paginationPageSize]="15"
          [unSortIcon]="true"
          [animateRows]="true"
          style="width: 100%; height:450px;"
          class="ag-theme-blue"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          (rowSelected)="onRowSelected($event)">
        </ag-grid-angular>
      </div>
  
    </div>
    <!-- 2nd column -->
    <div class="column2">
      <div class="pt-2 pl-2 pb-4" style="color:white; background-color:rgba(110, 31, 141, 0.863);">
       
        <span class="h3">Items</span>
  
        <span class="pl-5"><b>Selected Order / Item:</b> {{rowDataClicked.order_uid}} / {{rowDataClicked2.order_item_uid}}</span>
        <div class=" h5 float-right">
          <button *ngIf="(userPrivs.editAllowed == 'Y')" type="button" class="btn" (click)="openLudDialog(1)"><i
              class="fa fa-pencil-alt "></i></button>
  
          <a *ngIf="(userPrivs.createAllowed == 'Y' && rowDataClicked.luh_code)" type="button" (click)="openLudDialog(null)">
            <span class="fa fa-plus"></span>
          </a>
          <button *ngIf="(userPrivs.deleteAllowed == 'Y')" type="button" class="btn" (click)="DeleteLUD(1)"><i class="fa fa-trash error"></i></button>
  
  
        </div>
      </div>
  
      <!-- [enableSorting]="true"
      [enableFilter]="true"  
     [modules]="modules"
          [frameworkComponents]="frameworkComponents"
              #agGrid
        -->
      <div [ngStyle]="style">
        <ag-grid-angular
           [pagination]="true"
           [unSortIcon]="true"
           [animateRows]="true"
           style="width: 100%; height:450px;"
           class="ag-theme-blue"
           [rowData]="rowData2"
           [columnDefs]="columnDefs2"
           (rowSelected)="onRowSelected2($event)">
        </ag-grid-angular>
      </div>
  
  
      <!-- </div> -->
  
    </div>
  </div>
  
  
  
  
  
  
  
  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
  