<div class="m-1 bg">
<div class="ml-0 mr-0" >
 
  <form [formGroup]="orderForm" class="text-center mt-2 mb-2" style="color: #757575;" action="#!">
   
  <div class="form-row">


    <!--cloumn started -->
    <div class="col">
        <!-- request_placed_on -->
        <div class="md-form ">
            <!-- <label class="font-weight form-row " for="order_date">Order Date</label> -->
            <input type="date" id="order_date" name="order_date" class="form-control form-control-sm"
                placeholder="Order Date" formControlName="order_date" (change) = "loadAllOrders()"
                [ngClass]="{ 'is-invalid':    fc.order_date.errors }"
                >
            <div *ngIf=" fc.order_date.invalid " class="invalid-feedback">
                <div *ngIf="fc.order_date.errors.required">
                    Order date is required
                </div>

            </div>
        </div>
      </div>
      <!--cloumn colosed -->

      <!--cloumn started -->
    <div class="col">
      <!-- request_placed_on -->
      <div class="md-form ">
          <!-- <label class="font-weight form-row " for="customer_uid">Order Date</label> -->
          <select class="form-control  form-control-sm" id="customer_uid" name="customer_uid"
              formControlName="customer_uid" [ngClass]="{ 'is-invalid': fc.customer_uid.errors }">
              <!-- <option Selected value="">Select User Role</option> -->
              <option *ngFor="let data of customerList; index as i;" [value]=data.customer_uid>{{data.name}} ({{data.mobile}})
              </option>
              <!-- <option value=data.lud_code>data.lud_desc</option> -->
            </select>
          <div *ngIf=" fc.customer_uid.invalid " class="invalid-feedback">
              <div *ngIf="fc.customer_uid.errors.required">
                  Customer is required
              </div>

          </div>
      </div>
    </div>
    <!--cloumn colosed -->

    <!--cloumn started -->
    <div class="col">
      <!-- request_placed_on -->
      <div class="md-form ">
          <!-- <label class="font-weight form-row " for="invoice_number">Order Date</label> -->
          <input type="text" id="invoice_number" name="invoice_number" class="form-control form-control-sm"
              placeholder="Invoice#" formControlName="invoice_number"
              [ngClass]="{ 'is-invalid':   fc.invoice_number.errors }"
              >
          <div *ngIf=" fc.invoice_number.invalid " class="invalid-feedback">
              <div *ngIf="fc.invoice_number.errors.required">
                  Invoice # is required
              </div>

          </div>
      </div>
    </div>
    <!--cloumn colosed -->
 <!--cloumn started -->
 <div class="col">
        <div class=" float-right">

          <button [disabled]="isBusy" (click)= "loadAllOrders()" class="btn  btn-info" data-toggle="tooltip"
            data-placement="top" title="Save Order">
            <i class="fa fa-filter"> </i> Refresh
           
          </button>
         </div>

         <div class=" float-right">

          <button [disabled]="isBusy" (click)= "clearFilters()" class="btn  btn-success" data-toggle="tooltip"
            data-placement="top" title="Save Order">
            <i class="fa fa-refresh"> </i> Clear Filters
            <!-- {{ isBusy == false ? 'Login' : 'Logging in, please wait' }}  -->
          </button>
         </div>

    </div>
    <!--cloumn colosed -->
  </div>
  <!------------------- row closed ------------------>
  </form>
</div>

<div class="ml-0 mr-0  border-1" style="width:100%;">
    <!-- <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span> -->
</div>

  <!-- <div class="parent-div"> -->
  <div class="row row1">
    <div class="column">
  
      <div class="section-header hd-navy" >
        
          <span >Orders</span>
          
      
        <!-- <span class="pl-2"><b>Selected Header:</b> {{rowDataClicked.luh_code}}</span> -->
        <div class=" float-left">
          <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span>
        </div>
        <div class=" float-right section-detail">
          <span class = "pr-5"> Total Amount: {{sumAmount}}</span>
          <!-- parameter 1 to openStockDialog 
              means its and new record and 2 mean its an update operation -->
            <a *ngIf="(userPrivs.createAllowed == 'Y')" 
              type="button" (click)="editOrder()">
              <span class="fa fa-pencil p-2 text-warning"></span>
            </a>
          <a *ngIf="(userPrivs.createAllowed == 'Y')" 
              type="button" (click)="createOrder()">
            <span class="fa fa-plus text-white p-2"></span>
          </a>
          <a *ngIf="(userPrivs.createAllowed == 'Y')" 
              type="button" (click)="deleteOrder()">
              <span class="fa fa-trash text-danger p-2"></span>
            </a>
          
      </div>

      </div>
      <!-- [enableSorting]="true" [enableFilter]="true"
      [modules]="modules"
          [frameworkComponents]="frameworkComponents"
      -->
     
      <div [ngStyle]="style" >
        <ag-grid-angular  
          [pagination]="true"
          [paginationPageSize]="15"
          [unSortIcon]="true"
          [animateRows]="true"
          style="width: 100%; height:250px;"
          class="ag-theme-blue"
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (rowSelected)="onRowSelected($event)">
        </ag-grid-angular>
      </div>
  
    </div>
  </div>

    <!-- 2nd column -->

    
    <div class="row row2" [(ngModel)] = "rowDataClicked">
    <div class="column">
      <div class="section-header hd-navy" >
       
        <span class=" pr-3" >Items</span>
        <div class=" float-left">
          <span class="spinner-border text-warning" *ngIf="(isDetailsBusy == true)"></span>
        </div>
        <span class="section-detail">Selected Order / Item: {{selectedID}} / {{rowDataClicked2.order_item_uid}}</span>
     
      <span class = "pr-2 section-detail float-right"> Order Amount: {{rowDataClicked.order_amount}}</span>
      
      </div>

  
      <div [ngStyle]="style">
        <ag-grid-angular
           [pagination]="true"
           [unSortIcon]="true"
           [animateRows]="true"
           style="width: 100%; height:400px;"
           class="ag-theme-blue"
           [rowData]="rowData2"
           [columnDefs]="columnDefs2"
           [defaultColDef]="defaultColDef"
           (rowSelected)="onRowSelected2($event)">
        </ag-grid-angular>
      </div>
  
  
      <!-- </div> -->
  
    </div>
  </div>
</div>
  
  
  
  
  
  
  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
  