.fa-trash {
    color: red;
    }
    
    .fa-plus{
        color:yellow;
    }
    
    .fa-pencil-alt
    {
        color:rgb(255, 255, 255);
    }
    
    .header-color
    {
        color:white;
        background-color: midnightblue;
    }
    
    .detail-color
    {
        color:seashell;
        background-color: royalblue;
    }
    .parent-div {
        display: flex;
      }
     
      .first-div {
        width: 30%;
        /* height: 100px; */
        /* background: blue; */
       }
       
       .second-div {
        width: 70%;
        /* height: 100px; */
        /* background: green; */
       }
    
     
     
    
      .row {
        display: flex;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }

      .row1 {
       height:300;
       
      }
     

      .row {
        height: 600;
      }
     
     
      /* Create two equal columns that sits next to each other */
      .column1 {
        width: 100%;
        padding: 5px;
       
      }
     
      .column2 {
        width: 65%;
        padding: 5px;
       
      }