<!-- <body> -->
<!-- <div *ngFor="let params of queryParams; let i = index">
     <p> "Name" {{params.name}} " and Value:"{{params.value}}</p>
      </div> -->
<!-- Material form register -->
<!-- <div class="card border border-info  m-0"> -->

    <div class="h5 header-bar1">
        Create / Modify Vender
    </div>
    <p>{{this.messagetext}}</p>
    
    <!--Card content-->
    <div class="card-body  px-lg-5 pt-0">
    
        <!-- Form -->
        <form [formGroup]="dataForm" class="text-center" style="color: #757575;" action="#!">
    
            <div class="form-row">
                <div class="spinner-border" style="color: rgb(79, 3, 221);" *ngIf="(isBusy == true)">
                    <span class="sr-only">Loading...</span>
                </div>
                <div class="col">
                    <!-- Employee ID -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="vender_uid">Vender UID</label>
                        <input readonly type="text" id="vender_uid" name="vender_uid" class="form-control" 
                        placeholder="Code"
                            formControlName="vender_uid" [ngClass]="{ 'is-invalid':   submitted && fc.vender_uid.errors }">
                        
                        
                            <div *ngIf=" fc.vender_uid.invalid " class="invalid-feedback">
                            <div *ngIf="fc.vender_uid.errors.required">
                                Vender UID is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
                <div class="col">
                    <!-- Employee ID -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="vender_name">Name</label>
                        <input type="text" id="vender_name" name="vender_name" class="form-control" 
                        placeholder="Code"
                            formControlName="vender_name" [ngClass]="{ 'is-invalid':   submitted && fc.vender_name.errors }">
                        <div *ngIf=" fc.vender_name.invalid " class="invalid-feedback">
                            <div *ngIf="fc.vender_name.errors.required">
                                Vender Name is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
    
                <!-- // next form-row -->
    
    
                <div class="col">
                    <!-- Employee ID -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="vender_desc">Description</label>
                        <input type="text" id="vender_desc" name="vender_desc" class="form-control" placeholder="Description"
                            formControlName="vender_desc" [ngClass]="{ 'is-invalid':   submitted && fc.vender_desc.errors }">
                        <div *ngIf=" fc.vender_desc.invalid " class="invalid-feedback">
                            <div *ngIf="fc.vender_desc.errors.required">
                                Description is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
            </div>
    
            <div class="form-row mt-3">
    
    
                <div class="col">
                                 <!-- Employee ID -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="country_uid">Country</label>
                        <select class="form-control  form-control-sm mr-sm-2 js-example-basic-single" 
                                    id="country_uid" name="country_uid"
                            formControlName="country_uid" [ngClass]="{ 'is-invalid': submitted && fc.country_uid.errors }">
                            <!-- <option Selected value="">Select User Role</option> -->
                            <option *ngFor="let data of countriesDataList; index as i;" [value]=data.country_uid> 
                                {{data.country_name}}
                            </option>
                        </select>
                        <div *ngIf=" fc.country_uid.invalid " class="invalid-feedback">
                            <div *ngIf="fc.country_uid.errors.required">
                                Country  is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
    
                <div class="col">
                    <!-- Employee ID -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="state_uid">State</label>
                        
                        <select class="form-control  form-control-sm mr-sm-2 js-example-basic-single" 
                                    id="state_uid" name="state_uid"
                            formControlName="state_uid" [ngClass]="{ 'is-invalid': submitted && fc.state_uid.errors }">
                            <!-- <option Selected value="">Select User Role</option> -->
                            <option *ngFor="let data of statesDataList; index as i;" [value]=data.state_uid> 
                                {{data.state_name}}
                            </option>
                        </select>
                        

                        <div *ngIf=" fc.state_uid.invalid " class="invalid-feedback">
                            <div *ngIf="fc.state_uid.errors.required">
                                State is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->

                
                <div class="col">
                    <!-- city_uid -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="city_uid">City</label>
                          
                        <select class="form-control  form-control-sm mr-sm-2 js-example-basic-single" 
                                    id="city_uid" name="city_uid"
                            formControlName="city_uid" [ngClass]="{ 'is-invalid': submitted && fc.city_uid.errors }">
                            <!-- <option Selected value="">Select User Role</option> -->
                            <option *ngFor="let data of citiesDataList; index as i;" [value]=data.city_uid> 
                                {{data.city_name}}
                            </option>
                        </select>
                        
                        <div *ngIf=" fc.city_uid.invalid " class="invalid-feedback">
                            <div *ngIf="fc.city_uid.errors.required">
                                City is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->

            </div>
    
    
    
            <div class="form-row mt-3">
                <!--close col -->
                <div class="col">
                    <!-- postal_code  -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="postal_code">Postal Code</label>
                        <input type="text" id="postal_code" name="postal_code" class="form-control"
                            placeholder="Postal Code" formControlName="postal_code"
                            [ngClass]="{ 'is-invalid':   submitted && fc.postal_code.errors }"
                           >
                        <div *ngIf=" fc.postal_code.invalid " class="invalid-feedback">
                            <div *ngIf="fc.postal_code.errors.required">
                                Postal code is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
    
                <div class="col">
                    <!-- zip_code -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="zip_code">Zip Code</label>
                        <input type="text" id="zip_code" name="zip_code" class="form-control"
                            placeholder="Zip Code" formControlName="zip_code"
                            [ngClass]="{ 'is-invalid':   submitted && fc.zip_code.errors }"
                            >
                        <div *ngIf=" fc.zip_code.invalid " class="invalid-feedback">
                            <div *ngIf="fc.zip_code.errors.required">
                                Zip code is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
    
                <div class="col">
                    <!-- email -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="email">eMail</label>
                        <input type="text" id="email" name="email" class="form-control"
                            placeholder="email" formControlName="email"
                            [ngClass]="{ 'is-invalid':   submitted && fc.email.errors }"
                           >
                        <div *ngIf=" fc.email.invalid " class="invalid-feedback">
                            <div *ngIf="fc.email.errors.required">
                                eMail is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
    
                <div class="col">
                    <!-- phone1 -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="phone1">Phone 1</label>
                        <input type="text" id="phone1" name="phone1" class="form-control"
                            placeholder="Phone 1" formControlName="phone1"
                            [ngClass]="{ 'is-invalid':   submitted && fc.phone1.errors }"
                            >
                        <div *ngIf=" fc.phone1.invalid " class="invalid-feedback">
                            <div *ngIf="fc.phone1.errors.required">
                                Phone 1 is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
    
    
    
            
            <div class="col">
                <!-- phone2 -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="phone2">Phone 2 </label>
                    <input type="text" id="phone2" name="phone2" class="form-control" placeholder="Phone 2"
                        formControlName="phone2" [ngClass]="{ 'is-invalid':   submitted && fc.phone2.errors }"
                        >
                    <div *ngIf=" fc.phone2.invalid " class="invalid-feedback">
                        <div *ngIf="fc.phone2.errors.required">
                            Phone2 is required
                        </div>
    
                    </div>
                </div>
            </div>
            <!--close col -->
        </div>
        <!--close row -->
            <!-- // next form-row -->
            <div class="form-row mt-3">
               
    
                <div class="col-6">
                    <!-- address1 -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="address1">Address 1</label>
                        <input  type="text" id="address1" name="address1" class="form-control" 
                        placeholder="Address 1"
                            formControlName="address1" [ngClass]="{ 'is-invalid':   submitted && fc.address1.errors }">
                        <div *ngIf=" fc.address1.invalid " class="invalid-feedback">
                            <div *ngIf="fc.address1.errors.required">
                                Address 1 is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
    
                <div class="col-6">
                    <!-- address2 -->
                    <div class="md-form ">
                        <label class="font-weight form-row " for="address2">Address 2</label>
                        <input type="text" id="address2" name="address2" class="form-control"
                            placeholder="Address 2" formControlName="address2"
                            [ngClass]="{ 'is-invalid':   submitted && fc.address2.errors }">
                        <div *ngIf=" fc.address2.invalid " class="invalid-feedback">
                            <div *ngIf="fc.address2.errors.required">
                                Address 2 is required
                            </div>
    
                        </div>
                    </div>
                </div>
                <!--close col -->
    
               
    
    
            </div>
    
    
            <!-- Submit button -->
            <div class=" mt-3 text-center">
    
                <button [disabled]="isBusy" (click)="onSubmit()" class="btn  btn-info pl-5 pr-5">
                    <i class="fa fa-save pr-2"> </i> Save
                    <!-- {{ isBusy == false ? 'Login' : 'Logging in, please wait' }}  -->
                </button>
                <button (click)="onCancel()" class="btn  btn-success ml-5 pl-5 pr-5">
                    <i class="fa fa-close pr-2"> </i> Cancel
                    <!-- {{ isBusy == false ? 'Login' : 'Logging in, please wait' }}  -->
                </button>
                <!-- <div class="spinner-border" style="color: rgb(79, 3, 221);" *ngIf="(isBusy == true)">
                            <span class="sr-only">Loading...</span>
                        </div> -->
    
            </div>
    
    
            <hr>
    
            <!-- Terms of service -->
            <!-- <p>By clicking
                  <em>Sign up</em> you agree to our
                  <a href="" target="_blank">terms of service</a> -->
    
        </form>
        <!-- Form -->
    
    </div>
    
    <!-- </div> -->
    
    
    
    <!-- </body> -->