

mat-card{
  width: 350px;
  height: 400px;
  
  margin-left:auto;
  margin-right:auto;  
  
}
mat-form-field {
  width: 100%;
}

.center{
  justify-content: center;
  align-items: center;
}

.main-div{
  height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 
.brand_logo
{
      border:2px solid #fff;
      height: 20%;
      width:20%;
      box-shadow: 10px 10px 5px #ccc;
}