
.mat-menu-item{
  outline: none !important;
   margin:0 0 0 0;
}

.mat-menu{
  outline: none !important;
}

button.mat-menu-item:hover {
    background-color : lightsalmon;
    color: rgb(84, 7, 172) !important;
}


.mat-toolbar {
  height: 45px;
  align-items: center;
  background-color: #310555;
  color: white;
  text-align:center;
  font-size: 14px; 
  /*display: flex;*/
  
}

.brand_logo {
  height: 30px;
  width: 30px;
  margin-bottom: 4px;
  border-radius: 5px;
}