
  .mat-toolbar
  {height:45px;
  padding:4px;}

  .mat-menu-item {
    color: rgb(91, 12, 165) !important;
    outline:none; 
  }

  .mat-icon {
    color: rgb(198, 119, 230) !important;
  }
  
 
  button.mat-button{
    outline:none;
    color: rgb(66, 7, 134) !important;
   
}
   
  .mat-menu-item:hover {
      /* background-color: rgb(227, 230, 198); */
      color: rgb(66, 7, 134) !important;
      font-weight: bold;
      text-shadow: none;
  }

  div.plMenuCSS { 
    max-width:500px;
    background-color:lightgreen;
    }



  .brand_logo {
    height: 30px;
    width: 30px;
    margin-bottom: 4px;
    border-radius: 5px;
    box-shadow:2px 2px 1px slategrey;
  }

 
  

/* The Close Button */
.btn {
  color: #800dc2;
 
}

.btn:hover
 {
  color: rgb(253, 0, 0);
 
}


