
    <div class="row bg">

        <div class="column1">
           
            <div class="pt-2 pl-2 section-header hd-cyan">
               
               
                
                <div class=" float-left">
                GL Summary
                </div>
                <div class=" float-left">
                    <span class="spinner-border" *ngIf="(isBusy == true)"></span>
                </div>
                <div class=" float-right section-detail">
                
                      <a type="button" (click)="loadGL()">
                        <span class="fa fa-refresh p-2 "></span>
                      </a>
                </div>
            </div>
            <!-- Search form -->
            <div class="input-group md-form form-sm form-1 pl-1 pr-1 mb-1 mt-1">
                <div class="input-group-prepend ">
                    <span class="input-group-text cyan lighten-2 bl" id="basic-text1"><i class="fa fa-search text-white"
                            aria-hidden="true"></i></span>
                </div>
                <input [(ngModel)]="term" class="form-control my-0 py-1" type="text" placeholder="Search"
                    aria-label="Search">
            </div>

            <table class="table table-striped" style="height:600px">
                <thead>
                    <tr class="tb-header">
                        <th>Vender</th>
                        <th>Sent</th>
                        <th>Received </th>
                        <th>Balance</th>
                        <th></th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let gl of glDataListDisplay |filter:term ; let i=index">
                        <td class="pt-0 pb-0 mt-0 mb-0">{{gl.vender_name}}</td>
                        <td class="pt-0 pb-0 mt-0 mb-0 align-right">{{gl.fund_amount}}</td>
                        <td class="pt-0 pb-0 mt-0 mb-0">{{gl.cargo_amount}}</td>
                        <td class="pt-0 pb-0 mt-0 mb-0">{{gl.balance}}</td>
                        <td class="pt-0 pb-0 mt-0 mb-0">
                            <button type="button" class="btn pt-0 pb-0 mt-0 mb-0" (click)="selectGL(gl.vender_uid, gl.vender_name)">
                                <i class="fa fa-arrow-right"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    
    <div class="column2">
        <div class="pt-2 pl-2 section-header hd-cyan">   
            <div class="float-left">
                GL Details &nbsp; Vender: {{venderUID}} ({{venderName}})
                <span class="pl-2" *ngIf="(isDetailBusy == false)"><b>Balance: </b>{{final_amount}}</span>
                
            </div>
            <div class=" float-left">
                <span class="spinner-border" *ngIf="(isDetailBusy == true)"></span>
            </div>
            <div class=" float-right section-detail">
                <!-- parameter 1 to openStockDialog 
                    means its and new record and 2 mean its an update operation -->
                  <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                    type="button" (click)="openGLDialog(2)">
                    <span class="fa fa-pencil p-2 text-warning"></span>
                  </a>
                <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                    type="button" (click)="openGLDialog(1)">
                  <span class="fa fa-plus text-white p-2"></span>
                </a>
                <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                    type="button" (click)="deleteGL()">
                    <span class="fa fa-trash text-danger p-2"></span>
                  </a>


                  <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                  type="button" (click)="generatePDF()">
                  <span class="fa fa-print text-danger p-2"></span>
                </a>
                
            </div>
    </div>
        <div [ngStyle]="style">
            <ag-grid-angular 
                [pagination]="true" 
                [unSortIcon]="true" 
                [animateRows]="true" 
                style="width:100%; height:100%;"
                class="ag-theme-alpine" 
                [rowData]="rowData" 
                [columnDefs]="columnDefs" 
                [defaultColDef]="defaultColDef"
                [pinnedTopRowData]="pinnedTopRowData"
                [pinnedBottomRowData]="pinnedBottomRowData"
                [enableCellChangeFlash]="true"
                (gridReady)="onGridReady($event)"
                (rowSelected)="onRowSelected($event)">
            </ag-grid-angular> 
        </div>
    </div>
</div>
