<div class="ml-0 mr-0  border-1" style="width:100%;">
    <div class="p-2" style="background-color:wheat; ">
      <span class="h3">Manage Item / Categories</span>
      <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span>
    </div>
  </div>
  
  <!-- <div class="parent-div"> -->
  <div class="row">
    <div class="column1">
  
      <div class="pt-2 pl-2 pb-4" style="color:white; background-color:rgb(28, 78, 119);">
        <span class="h3">Categories</span>
        <!-- <span class="pl-2"><b>Selected Header:</b> {{rowDataClicked.luh_code}}</span> -->
       
        <div class=" float-left">
            <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span>
          </div>
          <div class=" float-right">
            <!-- parameter 1 to openStockDialog 
                means its and new record and 2 mean its an update operation -->
              <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="openItemCategoryDialog('2')">
                <span class="fa fa-pencil p-2 text-warning"></span>
              </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="openItemCategoryDialog('1')">
              <span class="fa fa-plus text-white p-2"></span>
            </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="deleteItemCategory()">
                <span class="fa fa-trash text-danger p-2"></span>
              </a>
            
        </div>
      </div>
      <!-- [enableSorting]="true" [enableFilter]="true"
      [modules]="modules"
          [frameworkComponents]="frameworkComponents"
      -->
      <div [ngStyle]="style">
        <ag-grid-angular  
          [pagination]="true"
          [paginationPageSize]="15"
          [unSortIcon]="true"
          [animateRows]="true"
          style="width: 100%; height:450px;"
          class="ag-theme-alpine" 
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          [defaultColDef]="defaultColDef"
          (rowSelected)="onRowSelected($event)">
        </ag-grid-angular>
      </div>
  
    </div>
    <!-- 2nd column -->
    <div class="column2">
      <div class="pt-2 pl-2 pb-4" style="color:white; background-color:rgb(28, 78, 119);">
       
        <span class="h3">Items</span>
  
        <span class="pl-5"><b>Selected Category / Item:</b> {{rowDataClicked.cat_uid}} / {{rowDataClicked2.item_uid}}</span>
        <div class=" float-left">
            <span class="spinner-border text-warning" *ngIf="(isBusy == true)"></span>
          </div>
          <div class=" float-right">
            <!-- parameter 1 to openStockDialog 
                means its and new record and 2 mean its an update operation -->
              <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="openItemsDialog('2')">
                <span class="fa fa-pencil p-2 text-warning"></span>
              </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y' &&  rowDataClicked._id)" 
                type="button" (click)="openItemsDialog('1')">
              <span class="fa fa-plus text-white p-2"></span>
            </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="deleteItem()">
                <span class="fa fa-trash text-danger p-2"></span>
              </a>
            
        </div>
      </div>
  
      <!-- [enableSorting]="true"
      [enableFilter]="true"  
     [modules]="modules"
          [frameworkComponents]="frameworkComponents"
              #agGrid
        -->
      <div [ngStyle]="style">
        <ag-grid-angular
           [pagination]="true"
           [unSortIcon]="true"
           [animateRows]="true"
           style="width: 100%; height:450px;"
           class="ag-theme-alpine" 
           [rowData]="rowData2"
           [columnDefs]="columnDefs2"
           [defaultColDef]="defaultColDef"
           (rowSelected)="onRowSelected2($event)">
        </ag-grid-angular>
      </div>
  
  
      <!-- </div> -->
  
    </div>
  </div>
  
  
  
  
  
  
  
  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
  