
    <div class="row  hd-gold header pt-2">
      <div class="col">
        Manage Venders
      </div> 
    </div>
 
  
  <!-- <div class="parent-div"> -->
  <div class="row">
    <div class="column1">
      <div class="row pt-2 pl-2 pb-4 section-header hd-cyan">
        <div class=" col " >
          <span >Venders</span>
          <!-- <span class="pl-2"><b>Selected Header:</b> {{rowDataClicked.luh_code}}</span> -->
        </div> 
        <div class=" col text-start  ">
            <span class="spinner-border" *ngIf="(isBusy == true)"></span>
          </div>
          <div class=" col text-end section-detail">
            <!-- parameter 1 to openStockDialog 
                means its and new record and 2 mean its an update operation -->
              <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="openVendersDialog('2')">
                <span class="fa fa-pencil p-2 text-warning"></span>
              </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="openVendersDialog('1')">
              <span class="fa fa-plus text-white p-2"></span>
            </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="deleteVender()">
                <span class="fa fa-trash text-danger p-2"></span>
              </a>
            
        </div>
      
    </div>
      <!-- [enableSorting]="true" [enableFilter]="true"
      [modules]="modules"
          [frameworkComponents]="frameworkComponents"
      -->
      <div [ngStyle]="style">
        <ag-grid-angular  
          [pagination]="true"
          [paginationPageSize]="15"
          [unSortIcon]="true"
          [animateRows]="true"
          style="width: 100%; height:450px;"
          class="ag-theme-alpine" 
          [rowData]="rowData"
          [columnDefs]="columnDefs"
          (rowSelected)="onRowSelected($event)">
        </ag-grid-angular>
      </div>
  
    </div>
    <!-- 2nd column -->
    <div class="column2">
      <div class="row pt-2 ps-2 pb-4 section-header hd-cyan">
        <div class="col" >
           <span >Vender Accounts</span>
        </div>
        <div class="col ps-2" >
           <span >Selected: {{rowDataClicked.vender_uid}} / {{rowDataClicked2.vender_account_uid}}</span>
         </div>

        <div class=" col">
            <span class="spinner-border text-warning" *ngIf="(isDetailBusy == true)"></span>
        </div>
          <div class=" col text-end section-detail">
            <!-- parameter 1 to openStockDialog 
                means its and new record and 2 mean its an update operation -->
              <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="openVenderAccountsDialog('2')">
                <span class="fa fa-pencil p-2 text-warning"></span>
              </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y' &&  rowDataClicked._id)" 
                type="button" (click)="openVenderAccountsDialog('1')">
              <span class="fa fa-plus text-white p-2"></span>
            </a>
            <a *ngIf="(userPrivs.createAllowed == 'Y')" 
                type="button" (click)="deleteVA()">
                <span class="fa fa-trash text-danger p-2"></span>
              </a>
            
        </div>
      </div>
  
      <!-- [enableSorting]="true"
      [enableFilter]="true"  
     [modules]="modules"
          [frameworkComponents]="frameworkComponents"
              #agGrid
        -->
      <div [ngStyle]="style">
        <ag-grid-angular
           [pagination]="true"
           [unSortIcon]="true"
           [animateRows]="true"
           style="width: 100%; height:450px;"
           class="ag-theme-alpine" 
           [rowData]="rowData2"
           [columnDefs]="columnDefs2"
           (rowSelected)="onRowSelected2($event)">
        </ag-grid-angular>
      </div>
  
  
      <!-- </div> -->
  
    </div>
  </div>
  
  
  
  
  
  
  
  <!-- <button mat-button (click)="openDialog()">Open dialog</button> -->
  