<!-- <body> -->
<!-- <div *ngFor="let params of queryParams; let i = index">
     <p> "Name" {{params.name}} " and Value:"{{params.value}}</p>
      </div> -->
<!-- Material form register -->
<!-- <div class="card border border-info  m-0"> -->

<div class="h5 header-bar1">
    Create / Modify Stock
</div>
<p>{{this.messagetext}}</p>

<!--Card content-->
<div class="card-body  px-lg-5 pt-0">

    <!-- Form -->
    <form [formGroup]="dataForm" class="text-center" style="color: #757575;" action="#!">

        <div class="form-row">
            <div class="spinner-border" style="color: rgb(79, 3, 221);" *ngIf="(isBusy == true)">
                <span class="sr-only">Loading...</span>
            </div>
            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="vender_uid">Vender</label>
                    <input type="text" id="vender_uid" name="vender_uid" class="form-control" placeholder="Vender"
                        formControlName="vender_uid" [ngClass]="{ 'is-invalid':   submitted && fc.vender_uid.errors }">
                    <div *ngIf=" fc.vender_uid.invalid " class="invalid-feedback">
                        <div *ngIf="fc.vender_uid.errors.required">
                            Vender is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->
            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="stock_code">Code</label>
                    <input type="text" id="stock_code" name="stock_code" class="form-control" 
                    placeholder="Code"
                        formControlName="stock_code" [ngClass]="{ 'is-invalid':   submitted && fc.stock_code.errors }">
                    <div *ngIf=" fc.stock_code.invalid " class="invalid-feedback">
                        <div *ngIf="fc.stock_code.errors.required">
                            Code is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->

            <!-- // next form-row -->


            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="stock_desc">Description</label>
                    <input type="text" id="stock_desc" name="stock_desc" class="form-control" placeholder="Description"
                        formControlName="stock_desc" [ngClass]="{ 'is-invalid':   submitted && fc.stock_desc.errors }">
                    <div *ngIf=" fc.stock_desc.invalid " class="invalid-feedback">
                        <div *ngIf="fc.stock_desc.errors.required">
                            Description is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->
        </div>

        <div class="form-row mt-3">


            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="request_placed_on">Request Date</label>
                    <input type="datetime-local" id="request_placed_on" name="request_placed_on" class="form-control"
                        placeholder="Request Date" formControlName="request_placed_on"
                        [ngClass]="{ 'is-invalid':   submitted && fc.request_placed_on.errors }">
                    <div *ngIf=" fc.request_placed_on.invalid " class="invalid-feedback">
                        <div *ngIf="fc.request_placed_on.errors.required">
                            Request date is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->

            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="stock_received_on">Received Date</label>
                    <input type="datetime-local" id="stock_received_on" name="stock_received_on" class="form-control"
                        placeholder="Received Date" formControlName="stock_received_on"
                        [ngClass]="{ 'is-invalid':   submitted && fc.stock_received_on.errors }">
                    <div *ngIf=" fc.stock_received_on.invalid " class="invalid-feedback">
                        <div *ngIf="fc.stock_received_on.errors.required">
                            Received date is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->
        </div>



        <div class="form-row mt-3">
            <!--close col -->
            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="items_count">Total Items</label>
                    <input type="number" id="items_count" name="items_count" class="form-control"
                        placeholder="Total Items" formControlName="items_count"
                        [ngClass]="{ 'is-invalid':   submitted && fc.items_count.errors }">
                    <div *ngIf=" fc.items_count.invalid " class="invalid-feedback">
                        <div *ngIf="fc.items_count.errors.required">
                            Item count is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->

            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="total_bill_amount">Total Amount</label>
                    <input type="number" id="total_bill_amount" name="total_bill_amount" class="form-control"
                        placeholder="Total Amount" formControlName="total_bill_amount"
                        [ngClass]="{ 'is-invalid':   submitted && fc.total_bill_amount.errors }">
                    <div *ngIf=" fc.total_bill_amount.invalid " class="invalid-feedback">
                        <div *ngIf="fc.total_bill_amount.errors.required">
                            Total amount is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->

            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="shipping_charges">Shipping Charges</label>
                    <input type="number" id="shipping_charges" name="shipping_charges" class="form-control"
                        placeholder="Shipping Charges" formControlName="shipping_charges"
                        [ngClass]="{ 'is-invalid':   submitted && fc.shipping_charges.errors }">
                    <div *ngIf=" fc.shipping_charges.invalid " class="invalid-feedback">
                        <div *ngIf="fc.shipping_charges.errors.required">
                            Shipping Charges is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->

            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="delivery_charges">Delivery Charges</label>
                    <input type="number" id="delivery_charges" name="delivery_charges" class="form-control"
                        placeholder="Delivery Charges" formControlName="delivery_charges"
                        [ngClass]="{ 'is-invalid':   submitted && fc.delivery_charges.errors }">
                    <div *ngIf=" fc.delivery_charges.invalid " class="invalid-feedback">
                        <div *ngIf="fc.delivery_charges.errors.required">
                            Delivery Charges is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->



        </div>
        <!--close row -->


        <!-- // next form-row -->
        <div class="form-row mt-3">
            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="vat">Vat </label>
                    <input type="number" id="vat" name="vat" class="form-control" placeholder="VAT"
                        formControlName="vat" [ngClass]="{ 'is-invalid':   submitted && fc.vat.errors }">
                    <div *ngIf=" fc.vat.invalid " class="invalid-feedback">
                        <div *ngIf="fc.vat.errors.required">
                            VAT is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->

            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="items_cost">Cost Price</label>
                    <input type="number" id="items_cost" name="items_cost" class="form-control" 
                    placeholder="Cost Price"
                        formControlName="items_cost" [ngClass]="{ 'is-invalid':   submitted && fc.items_cost.errors }">
                    <div *ngIf=" fc.items_cost.invalid " class="invalid-feedback">
                        <div *ngIf="fc.items_cost.errors.required">
                            Cost Price is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->

            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="sales_price">Sales Price</label>
                    <input type="number" id="sales_price" name="sales_price" class="form-control"
                        placeholder="Sales Price" formControlName="sales_price"
                        [ngClass]="{ 'is-invalid':   submitted && fc.sales_price.errors }">
                    <div *ngIf=" fc.sales_price.invalid " class="invalid-feedback">
                        <div *ngIf="fc.sales_price.errors.required">
                            Sales Price is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->

            <div class="col">
                <!-- Employee ID -->
                <div class="md-form ">
                    <label class="font-weight form-row " for="stock_bar_code">Bar Code</label>
                    <input type="text" id="stock_bar_code" name="stock_bar_code" class="form-control"
                        placeholder="Bar Code" formControlName="stock_bar_code"
                        [ngClass]="{ 'is-invalid':   submitted && fc.stock_bar_code.errors }">
                    <div *ngIf=" fc.stock_bar_code.invalid " class="invalid-feedback">
                        <div *ngIf="fc.stock_bar_code.errors.required">
                            Bar Code is required
                        </div>

                    </div>
                </div>
            </div>
            <!--close col -->


        </div>


        <!-- Submit button -->
        <div class=" mt-3 text-center">

            <button [disabled]="isBusy" (click)="onSubmit()" class="btn  btn-info pl-5 pr-5">
                <i class="fa fa-save pr-2"> </i> Save
                <!-- {{ isBusy == false ? 'Login' : 'Logging in, please wait' }}  -->
            </button>
            <button (click)="onCancel()" class="btn  btn-success ml-5 pl-5 pr-5">
                <i class="fa fa-close pr-2"> </i> Cancel
                <!-- {{ isBusy == false ? 'Login' : 'Logging in, please wait' }}  -->
            </button>
            <!-- <div class="spinner-border" style="color: rgb(79, 3, 221);" *ngIf="(isBusy == true)">
                        <span class="sr-only">Loading...</span>
                    </div> -->

        </div>


        <hr>

        <!-- Terms of service -->
        <!-- <p>By clicking
              <em>Sign up</em> you agree to our
              <a href="" target="_blank">terms of service</a> -->

    </form>
    <!-- Form -->

</div>

<!-- </div> -->



<!-- </body> -->