
<div class=" header hd-gold" >
    <span >Manage Resources</span>
    <span class="pl-1">Selected User: {{rowDataClicked.name}}</span>
    <div class=" float-right section-detail">
      <!-- parameter 1 to openStockDialog 
          means its and new record and 2 mean its an update operation -->
        <a *ngIf="(userPrivs.createAllowed == 'Y')" 
          type="button" (click)="openUserDialog('2')">
          <span class="fa fa-pencil p-2 text-warning"></span>
        </a>
      <a *ngIf="(userPrivs.createAllowed == 'Y')" 
          type="button" (click)="openUserDialog('1')">
        <span class="fa fa-plus text-white p-2"></span>
      </a>
      <a *ngIf="(userPrivs.createAllowed == 'Y')" 
          type="button" (click)="deleteCustomer()">
          <span class="fa fa-trash text-danger p-2"></span>
        </a>
      
  </div>
  </div>
      
<!-- <div [ngStyle]="style"> -->
  <ag-grid-angular 
        [pagination]="true" 
        [unSortIcon]="true"
        [animateRows]="true" 
        style="width: 100%; height:400px;" 
        class="ag-theme-alpine" 
        [rowData]="rowData"
        [columnDefs]="columnDefs" 
        (rowSelected)="onRowSelected($event)"
        >
  </ag-grid-angular> 
 
     <!-- </div>   -->