.ag-row-hover {
    /* putting in !important so it overrides the theme's styling as it hovers the row also */
    background-color: #fcf37c !important;
  }


.fa-trash {
    color: red;
} 

.fa-plus{
    color: green;
}

.fa-pencil-alt
{
    color:blue;
}

.header-bar1
{
  background-color:rgba(102, 58, 80, 0.87); 
    color:rgb(252, 252, 253); 
    padding: 5px; 
    height:60px;
}
.required
{
    color: red;
}

.font-weight
{
    font-weight: bold;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.form-row
{
    margin-bottom: 5px;
}
