/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, Sans-Serif; }

.fa-trash {
    color: red;
    }

.fa-plus{
        color:yellow;
    }
    
.fa-pencil
    {
        color:rgb(255, 255, 255);
    }
    
.header
    {
        color:white;
        background-color: midnightblue;
        height:30px;
    }

.row {
        display: flex;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }

.row1 {
       height:200;
      }

.row {
        height: 200;
      }
 
.column {
        width: 100%;
        padding: 5px;
       
      }
.column1 {
        width: 35%;
        padding: 2px;
       
      }
     
.column2 {
        width: 65%;
        padding: 2px;
       
      }

.bg
{
    background-color: rgb(252, 252, 253);
    background-size:100% 100%;
    height: 100%;
}

.btn
{
  min-width: 60px;
  min-height: 30px;
  /* font-size: 12px; */
  margin-right: 2px;
}

.section-header
{
  height: 40px;
  font-size: 18px;
}

.section-detail
{
  font-size: 14px;
}