/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~ag-grid-community/dist/styles/ag-grid.css";
@import "~ag-grid-community/dist/styles/ag-theme-balham.css";
@import "~ag-grid-community/dist/styles/ag-theme-alpine.css";
@import "~ag-grid-community/dist/styles/ag-theme-material.css";
@import "~ag-grid-community/dist/styles/ag-theme-blue.css";
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Segoe UI, Segoe UI Midlevel, Segoe WP, Arial, Sans-Serif; }

.fa-trash, .fa-close
{
    color: red;
    }

.fa-plus{
        color:yellow;
    }

.fa-user-plus
{
  color: rgb(49, 77, 220);
}
    
.fa-pencil
    {
        color:rgb(255, 255, 255);
    }

  .fa-save , .fa-search
    {
        color:rgb(122, 236, 135);
    }
  
    .fa-arrow-right
    {
      color:rgb(31, 39, 184);
    }


.row {
        display: flex;
        margin: 0 0 0 0;
        padding: 0 0 0 0;
      }

.row1 {
       height:200;
      }

.row {
        height: 200;
      }
 
.column {
        width: 100%;
        padding: 5px;
       
      }
.column1 {
        width: 35%;
        padding: 2px;
       
      }
     
.column2 {
        width: 65%;
        padding: 2px;
       
      }

.bg
{
    background-color: rgb(252, 252, 253);
    background-size:100% 100%;
    height: 100%;
}

.btn
{
  min-width: 60px;
  min-height: 30px;
  /* font-size: 12px; */
  margin-right: 2px;
}

    
.header
    {
        
        height:40px;
        font-size: 18px;
        padding: 2px 0px 3px 2px;
            }

.section-header
{
  height: 45px;
  font-size: 18px;
  padding: 2px 0px 3px 2px;
}

.section-detail
{
  font-size: 14px;
}

.spinner-border
{
  font-size: 5px;
  display:block;
  color: rgb(255, 0, 21);
}

.hd-navy
{
  color:rgb(255, 253, 253); 
  background-color:rgb(21, 5, 86);
  
}

.hd-purple
{
  color:rgb(255, 255, 255); 
  background-color:rgb(84, 51, 125);
 
}

.hd-gold
{
  color:rgb(12, 10, 79); 
  background-color:rgb(181, 171, 103);
 
}

.hd-cyan
{
  color:rgb(55, 25, 118); 
  background-color:rgb(76, 226, 216);
 
}

.hd-rounded-light
{
  
  background-color:rgb(181, 194, 216);
  border-radius: 10px;
 
}

.hd-sky
{
  color:rgb(253, 253, 253); 
  background-color:rgb(44, 100, 230);
 
}

.table-fixed tbody, 
.table-fixed thead,
.trh,
.table-fixed td,
.table-fixed th 

{
    display: block;
   
}

.table-fixed tbody td,
.table-fixed tbody th,
.table-fixed thead > tr > th 
{
  float: left;
  position: relative;
} 

.table-fixed tbody 
{
   overflow: auto;
   height: 200px;
   width: 100%;
}

.tb-header
{background-color: rgb(168, 185, 216);}

/* to make labels bold*/
.font-weight
{
  font-weight: bold;
}

